spring:
  datasource:
    schema: classpath:schema.sql
    data: classpath:data.sql
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/microuser?allowMultiQueries=true&useUnicode=true&characterEncoding=UTF-8
    username: root
    password: root
  jpa:
    generate-ddl: false
    show-sql: true
    hibernate:
      ddl-auto: update
    database: mysql
    properties:
     hibernate:
       dialect: org.hibernate.dialect.MySQL5Dialect
logging:
  level:
    root:INFO
    org.hibernate:INFO
    org.hibernate.type.descripter.sql.BasicBinder:TRACE
    org.hibernate.type.descripter.sql.BasicExtractor:TRACE
server:
  port: 8080
#info:
#  app:
#   name: @project.artifactId@
#   encoding: @project.build.sourceEncoding@
#   java:
#    source: @java.version@
#    target: @java.version@