server:
  port: 8763
eureka:
  client:
    fetch-registry: false
    register-with-eureka: false
    service-url:
     default-zone: http://localhost:8761/eureka
security:
  basic:
    enabled: true
  user:
    name: user
    password: password
